@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&family=Roboto:wght@300&display=swap');

*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box !important;
    outline: 0 !important;
    box-shadow: none !important;
    font-family: 'Roboto', sans-serif;

}
